<%= form_with(model: @comment, url: post_comments_url(current_user.username, @post), scope: :comment) do |form| %>
  <div>
  <p>
    <%= form.text_area :body, cols:'80', rows:'5' %><br>
  </p>
  <p>
  <%= form.submit "Comment"%>
  </p>
  </div>
<% end %>
