<p style="color: green"><%= notice %></p>

<h4>Friends</h4>

<div id="friendships">
  <% @friends.each do |friend| %>
    <%= friend.username %><br>
  <% end %>
</div>

<h4>Friend Requests</h4>
.
.
.
<h4>Sent Requests</h4>
.
.
.
<h4>Find Friends</h4>
.
.
.