<p style="color: green"><%= notice %></p>

<h5>Friends</h5>

# <div id="friendships">
#   <% @friendships.each do |friendship| %>
#     <%= render friendship %>
#     <p>
#       <%= link_to "Show this friendship", friendship %>
#     </p>
#   <% end %>
# </div>

# <%= link_to "New friendship", new_friendship_path %>

<h5>Friend Requests</h5>
.
.
.
<h5>Sent Requests</h5>
.
.
.
<h5>Find Friends</h5>
.
.
.