<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% @post = post %>
    <%= render @post %>
    <p>
      <%= link_to "Show this post", post_url(current_user.username,@post) %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path if current_user.username == params[:username] %>
